{%extends 'all/base.html'%} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h5 style="text-align: justify; text-justify: auto">
                Jamhuri Events (Initially known as Jamhuri Festival) was started in 2015 as a platform to nurture, guide and showcase the rich and diverse creative and performing
                arts culture in Nairobi.
                <br>
                It is best known for its conference, live music gigs and festivals that celebrate the convergence of the interactive, arts,
                and music industries, it has since evolved to include a popular weekly online and concert series dubbed Jamhuri Jam Sessions.
                <br>
                The event, an essential destination for global professionals, features sessions, showcases, exhibitions, and a variety of
                networking opportunities, proving that the most unexpected discoveries happen when diverse topics and people come together.
            </h5>
        </div>
        <div class="col-md-5">
            <img src="/media/profilepic/Logo-01.png" width="700" height="650" class="img-fluid d-inline-block align-top" alt="jamhuri logo">
            </a>
        </div>

    </div>

</div>

{% endblock %}
