{%extends 'layouts/base.html'%}
{% load static %} 
{% block content %}
{% include 'partials/breadcrumb.html' %}
    <section class="ls section_padding_top_40 section_padding_bottom_40 table_section table_section_md columns_margin_bottom_30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 text-center"> <img src="{% static 'images/about.png' %}" alt=""> </div>
                <div class="col-md-6 col-md-pull-6">
                    <h6 class="highlight">about us</h6>
                    <h2 class="section_header">Info/Bio</h2>
                    <p class="fontsize_20">Jamhuri Events (Initially known as Jamhuri Festival) was started in 2015 as a platform to nurture, guide and showcase the rich and diverse creative and performing arts culture in Nairobi.
                    </p>
                    <p>In addition to that, Jamhuri Events is an innovative production company providing dynamic event solutions, digital marketing strategies and a talent resource bank in East Africa. 
                Jamhuri leverages the agency’s unique expertise across music, television, digital media and live entertainment, access to talent and key industries, and powerful marketplace intelligence to create and provide a range of strategic and creative solutions for brands.</p>
                <p> It is best known for its conference, live music gigs and festivals that celebrate the convergence of the interactive, arts,
                and music industries, it has since evolved to include a popular weekly online and concert series dubbed Jamhuri Jam Sessions.</p>
                <p>The event, an essential destination for global professionals, features sessions, showcases, exhibitions, and a variety of
                networking opportunities, proving that the most unexpected discoveries happen when diverse topics and people come together.</p>
                </div>
            </div>
        </div>
    </section>

        <section id="gallery" class="ls section_padding_top_65 columns_padding_0">
                <div class="container-fluid">
                    <div class="col-sm-12 bottommargin_0">
                        <div class="filters carousel_filters"> <a href="#" class="selected" data-filter="*">All</a> <a href="#" data-filter=".music">Music</a> <a href="#" data-filter=".life">Life</a> <a href="#" data-filter=".concerts">Concerts</a> <a href="#" data-filter=".backstage">Backstage</a> <a href="#"
                                data-filter=".new">New</a> </div>
                        <div class="owl-carousel owl-center-scale gallery-carousel" data-nav="true" data-dots="false" data-margin="0" data-center="true" data-loop="true" data-responsive-xlg="6" data-responsive-lg="5" data-responsive-md="4"
                            data-responsive-sm="3" data-responsive-xs="2" data-responsive-xxs="1" data-filters=".carousel_filters">
                            <div class="vertical-item music">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/01.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/01.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item life">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/02.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/02.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item concerts">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/03.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/03.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item backstage">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/04.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/04.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item new">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/05.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/01.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item music">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/06.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/06.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item life">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/07.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/07.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item concerts">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/08.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/08.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item backstage">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/09.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/09.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item new">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/10.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/10.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item farming">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/11.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/11.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-item farm">
                                <div class="item-media"> <img src="{% static 'images/gallery-square/12.jpg' %}" alt="" />
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{% static 'images/gallery/12.jpg' %}"></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br><br><br>



{% endblock %}
