{%extends 'all/base.html'%} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="text-align: justify; text-justify: auto">
                Jamhuri Events (Initially known as Jamhuri Festival) was started in 2015 as a platform to nurture, guide and showcase the rich and diverse creative and performing
                arts culture in Nairobi.
                <br>
                In addition to that, Jamhuri Events is an innovative production company providing dynamic event solutions, digital marketing strategies and a talent resource bank in East Africa. 
                Jamhuri leverages the agency’s unique expertise across music, television, digital media and live entertainment, access to talent and key industries, and powerful marketplace intelligence to create and provide a range of strategic and creative solutions for brands.
                <br>
                It is best known for its conference, live music gigs and festivals that celebrate the convergence of the interactive, arts,
                and music industries, it has since evolved to include a popular weekly online and concert series dubbed Jamhuri Jam Sessions.
                <br>
                The event, an essential destination for global professionals, features sessions, showcases, exhibitions, and a variety of
                networking opportunities, proving that the most unexpected discoveries happen when diverse topics and people come together.
            </p>
            <h5>Event Production Achievements</h5>
            <ol>
                <li>
                    Concert Production for MTV EMA winner, Alikiba from Tanzania for a duration spanning one year with events both in Kenya and Tanzania.
                </li>
                <li>
                    Production, GROOVE Awards 2018; audio and visual creative production. 
                </li>
                <li>
                    Berklee College of Music workshop facilitation in Nairobi featuring lecturers and students. 
                </li>
                <li>
                    Production for Safaricom Blaze BYOB Nairobi Summit 2017 with Nyashinski.
                </li>
                <li>
                    Creative Production for Koroga Festival’s 20th Anniversary with Sauti Sol.
                </li>
                <li>
                    Jameson Live with 2Chainz 2015 producing the All Star Kenyan line up with DJ Stylez.
                </li>
                <li>
                    Safaricom Dealer of the Year Awards – production for Alikiba
                </li>
                <li>
                    Clouds FM TZ end year party – production with Alikiba
                </li>
                <li>
                    Chrome Mega Bash, Machakos Edition 2017 – production for Sauti Sol
                </li>
                <li>
                    EABL end year party – production with Sauti Sol
                </li>
                <li>
                    Jumia Black Friday Launch – 2017 production with Sauti Sol
                </li>
                <li>
                    Jamhuri Festival – annual concert since 2015
                </li>
                <li>
                    Administering the popular Wednesday night show at Nyama Mama since 2017 and ongoing.
                </li>
                <li>
                    Tuborg’s monthly brunch sessions at Mama Rocks
                </li>
                <li>
                    Any Given Thursday – hip hop night at Alchemist from 2016 to 2017
                </li>
                <li>
                    Alpha fit gym opening with the inception of Sweat Station Bootcamp, a popular workout community-based program that happens every fortnight.
                </li>
                <li>
                    Nyama Mama Delta official opening party
                </li>
                <li>
                    Africa Day celebration at Nyama Mama with the Tourism Ministry 
                </li>
                <li>
                    Asmara Karen’s monthly Live Grill
                </li>
                <li>
                    Sierra Burger and Wine activation with Jameson
                </li>
            </ol>
            <h5>Content Creation Achievements</h5>
            <ol>
                <li>
                    Jamhuri Jam Sessions – A weekly online series that features artists from Kenya and beyond.  The online series has had a tremendous reception from fans and media alike with frequent features on K24, MTV Base and Capital FM.
                </li>
                <li>
                    Music video scripting and production for multi award winning Nigerian sensation, 2 Face Idibia.
                </li>
                <li>
                    Audio production as composers for African stars, Burnaboy from Nigeria and Sauti Sol from Kenya. 
                </li>
            </ol>
            <h5>Talent Agency Achievements</h5>
            <ol>
                <li>
                    Represent a wide range of acts ranging from instrumentalists, vocalists, producers, DJs and MCs who are both seasoned and on the come up. 
                </li>
                <li>
                    Sauti Sol record label talent scouting and showcase after in depth research on the acts.
                </li>
                <li>
                    Blankets and Wine Festival as talent agent for booking resident bands and featured artists. 
                </li>
                <li>
                    The Good Earth Group as the booking agent for all their restaurant outlets ranging from Nyama Mama to Pan Asian Yao. 
                </li>
                <li>
                    Tuborg’s partners across select outlets for talent provision and administration. 
                </li>
                <li>
                    Mama Rock’s official entertainment partners.
                </li>
                <li>
                    Pernod Ricard as entertainment partners for talent provision during their events. 
                </li>
                <li>
                    Media partnership with a number of stations (both radio and TV) as talent bookers. 
                </li>
            </ol>
        </div>
        <!-- <div class="col-md-5">
            <img src="/media/profilepic/Logo-01.png" width="700" height="650" class="img-fluid d-inline-block align-top" alt="jamhuri logo">
            </a>
        </div> -->

    </div>

</div>

{% endblock %}
