{%extends 'layouts/base.html'%}
{% load static %}
{% block content %}
{% include 'partials/breadcrumb.html' %}


            <section class="ls section_padding_top_150 section_padding_bottom_130 columns_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-8 col-lg-8">
                            <article class="single-post vertical-item content-padding big-padding with_background post rounded overflow_hidden">
                                <div class="entry-thumbnail item-media"> <img src="{{article.image.url}}" alt=""> </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="entry-meta small-text no-spacing content-justify"> <span class="highlightlinks">
                                                <a href="blog-right.html">
                                                    music
                                                </a>
                                            </span> <span class="greylinks">
                                                <a href="blog-single-right.html">
                                                    <time datetime="2017-10-03T08:50:40+00:00">
                                                        sept 15, 2017
                                                    </time>
                                                </a>
                                            </span>
                                        </div>
                                    </header>
                                    <!-- .entry-header -->
                                    <div class="entry-content">
                                        {% autoescape on %} {{article.post| safe}} {% endautoescape %}
                                    </div>
                                    <!-- .entry-content -->
                                </div>
                                <!-- .item-content -->
                                <footer class="entry-meta small-text greylinks bottom_color_border">
                                    <div class="content-justify">
                                        <div class="inline-content"> <a href="#0">
                                    <i class="fa fa-user rightpadding_5" aria-hidden="true"></i>
                                    <span>Admin</span>
                                </a> <a href="#0">
                                    <i class="fa fa-comment rightpadding_5" aria-hidden="true"></i>
                                    <span class="value">1263</span>
                                </a> <span>
                                    <i class="fa fa-eye rightpadding_5" aria-hidden="true"></i>
                                    <span class="value">3698</span> </span>
                                        </div>
                                        <div> <span>Share:</span> <span>
                                    <a class="social-icon socicon-facebook" href="#" title="Facebook"></a>
                                    <a class="social-icon socicon-twitter" href="#" title="Twitter"></a>
                                    <a class="social-icon socicon-google" href="#" title="Twitter"></a>
                                    <a class="social-icon socicon-youtube" href="#" title="Youtube"></a>
                                </span> </div>
                                    </div>
                                </footer>
                            </article>
                            
                          
                        </div>
                        <!--eof .col-sm-8 (main content)-->
                        <!-- sidebar -->
                        <aside class="col-sm-5 col-md-4 col-lg-4">

                            <div class="widget widget_recent_posts">
                                <h3 class="widget-title">Recent Posts</h3>
                                <ul class="media-list">
                                    <li class="media loop-color">
                                        <div class="media-left media-middle"> <img src="{% static 'images/recent_post1.jpg' %}" alt="" />
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="entry-title"> <a href="blog-single-left.html">Ribeye pork chop rump beef ground round</a> </h4>
                                            <div class="small-text no-spacing highlightlinks hover-color2">
                                                <a href="blog-single-right.html">
                                                <time datetime="2017-10-03T08:50:40+00:00">
                                                    21/09/2017
                                                </time>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="media loop-color">
                                        <div class="media-left media-middle"> <img src="{% static 'images/recent_post2.jpg' %}" alt="" />
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="entry-title"> <a href="blog-single-left.html">Andouille tenderloin ham hock</a> </h4>
                                            <div class="small-text no-spacing highlightlinks hover-color3">
                                                <a href="blog-single-right.html">
                                                    <time datetime="2017-10-03T08:50:40+00:00">
                                                        20/09/2017
                                                    </time>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
        
                                    <li class="media loop-color">
                                        <div class="media-left media-middle"> <img src="{% static 'images/recent_post3.jpg' %}" alt="" />
                                        </div>
                                        <div class="media-body media-middle">
                                            <h4 class="entry-title"> <a href="blog-single-left.html">spare ribs jerky ham prosciut Shankle ball tip</a> </h4>
                                            <div class="small-text no-spacing highlightlinks">
                                                <a href="blog-single-right.html">
                                            <time datetime="2017-10-03T08:50:40+00:00">
                                                18/09/2017
                                            </time>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="widget widget_mailchimp">
                                <h3 class="widget-title">Newsletter</h3>
                                <form class="signup" action="http://webdesign-finder.com/html/dj/" method="get">
                                    <div class="form-group-wrap">
                                        <div class="form-group"> <label for="mailchimp-aside" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp-aside" class="mailchimp_email form-control" placeholder="E-mail Address"> </div> <button type="submit" class="theme_button color1 no_bg_button">Subscribe</button>                                       </div>
                                    <p>Enter Email here to be updated. We promise not to send you spam!</p>
                                    <div class="response"></div>
                                </form>
                            </div>

                            <div class="widget widget_apsc_widget">
                                <h3 class="widget-title">Get In Touch</h3>
                                <div class="apsc-icons-wrapper clearfix apsc-theme-4">

                                    <div class="apsc-each-profile">
                                        <a class="apsc-facebook-icon clearfix" href="#">
                                            <div class="apsc-inner-block"> <span class="social-icon">
                                                <i class="fa fa-facebook apsc-facebook"></i>
                                                <span class="media-name">Facebook</span> </span> <span class="apsc-count">9.8K</span><span class="apsc-media-type">Fans</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="apsc-each-profile">
                                        <a class="apsc-twitter-icon clearfix" href="#">
                                            <div class="apsc-inner-block"> <span class="social-icon">
                                                <i class="fa fa-twitter apsc-twitter"></i>
                                                <span class="media-name">Twitter</span> </span> <span class="apsc-count">4.9K</span><span class="apsc-media-type">Followers</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="apsc-each-profile">
                                        <a class="apsc-google-plus-icon clearfix" href="#">
                                            <div class="apsc-inner-block"> <span class="social-icon">
                                                <i class="apsc-googlePlus fa fa-google-plus"></i>
                                                <span class="media-name">google+</span> </span> <span class="apsc-count">10.1M</span><span class="apsc-media-type">Followers</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="apsc-each-profile">
                                        <a class="apsc-instagram-icon clearfix" href="#">
                                            <div class="apsc-inner-block"> <span class="social-icon">
                                                <i class="apsc-instagram fa fa-instagram"></i>
                                                <span class="media-name">Instagram</span> </span> <span class="apsc-count">4</span><span class="apsc-media-type">Followers</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="apsc-each-profile">
                                        <a class="apsc-youtube-icon clearfix" href="#">
                                            <div class="apsc-inner-block"> <span class="social-icon">
                                                <i class="apsc-youtube fa fa-youtube"></i>
                                                <span class="media-name">Youtube</span> </span> <span class="apsc-count">2.2K</span><span class="apsc-media-type">Subscriber</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            

                          
                            
                         
                        </aside>
                        <!-- eof aside sidebar -->
                    </div>
                </div>
            </section>
{% endblock %}
