{%extends 'all/base.html'%} 
{% load static %}
{% block content %} 
<section class="carousel">
    <div>
        <div id="demo" class="carousel slide" data-ride="carousel">
        
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
        
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="media/profilepic/Webartwork1.jpg" alt="Kaskazini" width="1650px" height="800px" class="img-fluid" style="background-size: cover">
                    <div class="carousel-caption">
                        <h3>In the Feels!</h3>
                        <p>Israel, Band member: Kaskazini</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="media/profilepic/Webartwork2.jpg" alt="Anyiko and team" width="1650px" height="800px" class="img-fluid" style="background-size: cover">
                    <div class="carousel-caption">
                        <h3>Jamhuri Events Family</h3>
                        <p>Diversity included at Jamhuri's family</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="media/profilepic/Webartwork3.jpg" alt="Anyiko and team" width="1650px" height="800px" class="img-fluid" style="background-size: cover">
                    <div class="carousel-caption">
                        <h3>Loyal funs</h3>
                        <p>Die hard fans in every Jamhuri event!</p>
                    </div>
                </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        
        </div>
    </div>
</section>
<section class="events">
    <div class="container">
        <hr>
        <h4 style="text-align: center; text-align: center; color: indigo">UPCOMING SHOWS</h4>
        <div class="row">
        {% for events in events %}
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{{events.poster.url}}" alt="Card image cap" style="height:291px; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">{{events.name|upper}}</a>
                        </h5> 
                        <p class="card-text">{{events.about|truncatewords:10}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{events.eventtime}}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="news">
    <div class="container">
        <hr>
        <h4 style="text-align: center; color: indigo">LATEST NEWS FEED</h4>
        <div class="row">
            {% for news in news %}
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{news.image.url}}" alt="News images" style="height:291px; width:auto">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; text-indent: inherit">
                                <a href="{%url 'news' news.id %}">{{news.title|upper}}</a>
                            </h5>
                            <p class="card-text">{{news.post|truncatewords:30}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">POSTED ON: {{news.postDate}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <hr>
        <h4 style="text-align: center; color: indigo">OUR SERVICES</h4>
        <div class="row">
            {% for service in service %}
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{{service.image.url}}" alt="News images" alt="Our services" style="height:291px; width:auto">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="merchandise">
    <div class="container">
        <hr>
        <h4 style="text-align: center; text-align: center; color: indigo">FEATURED MERCHANDISES</h4>
        <div class="row">
            {% for merchs in merchs %}
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{merchs.item_image.url}}" alt="Card image cap" style="height:291px; width:auto">
                        <div class="card-body">
                            <h5 class="card-title">{{merchs.item_name|upper}}</h5>
                            <p class="card-text">{{merchs.item_description}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{merchs.item_price}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <hr>
        <h4 style="text-align: center; color: indigo">TESTIMONIALS</h4>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for testimonials in testimonials%}
                <div class="carousel-item active text-center p-4">
                    <h5 style="text-justify: auto; text-align: center">{{testimonials.testimonial}}</h5>
                    <h6 style="text-align: center">{{testimonials.author}}</h6>
                </div>
                {% endfor %}
            </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>
    </div>
</section>
<footer>

</footer>
{% endblock %}
