{%extends 'all/base.html'%} 
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-5">
            <img src="{{news.image.url}}" class="img-fluid" alt="News Image">
        </div>
        <div class="col-md-7">
            <h2 class="text-center">{{news.title}}</h2>
            <p> {% autoescape on %} {{news.post| safe}} {% endautoescape %}</p>
            <p>Posted {{news.postDate|timesince}} ago</p>
        </div>
        
    </div>

</div>

{% endblock %}
