{%extends 'all/base.html'%} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img src="{{events.poster.url}}" class="img-fluid" alt="Poster" style="width: 600px; height: 620px;">
        </div>
        <div class="col-md-5">
            <h1 class="text-center">{{events.name}}</h1>
            {% autoescape on %} {{events.about| safe}} {% endautoescape %}
            <h5>Show starts at: {{events.eventtime}} </h5>

        </div>

    </div>

</div>

{% endblock %}
