{%extends 'all/base.html'%} 
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-5">
            <img src="{{artists.avatar.url}}" class="img-fluid" alt="News Image">
        </div> 
        <div class="col-md-7">
            <h1 style="text-align: center">{{artists.name}}</h1>
            <p style="text-justify: auto">{% autoescape on %} {{artists.bio| safe}} {% endautoescape %}</p>
            <h6>MUSIC GENRE: {{artists.genre}} </h6>
            <h6>PRICE STARTS FROM: {{artists.price}} </h6>
        </div>
    </div>
</div>

{% endblock %}
