{% load static%}
<!DOCTYPE html>

<html class="no-js">

<head>
	<title>Jamhuri Events</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" type="image/png" href="{% static 'images/jhead_new.png' %}" />
	{% include "partials/sheets.html" %} 
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135955020-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-135955020-1');
	</script>

	
</head>

<body>
	
	{% include 'partials/essentials.html' %}
	<div id="canvas">
		<div id="box_wrapper">
			<!-- template sections -->
			{% include 'partials/topnav.html' %}
			{% include 'partials/bottomnav.html' %}
			
			{% block content %}
			{% endblock %}


			{% include 'partials/footer.html' %}
			
		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	{% include "partials/scripts.html" %} 

</body>


</html>