{% load static%}
<!DOCTYPE html>

<html class="no-js">

<head>
	<title>Jamhuri Events</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	{% include "partials/sheets.html" %} 
	
</head>

<body>
	
	{% include 'partials/essentials.html' %}
	<div id="canvas">
		<div id="box_wrapper">
			<!-- template sections -->
			{% include 'partials/topnav.html' %}
			{% include 'partials/bottomnav.html' %}
			{% block content %}
			{% endblock %}


			{% include 'partials/footer.html' %}
			
		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	{% include "partials/scripts.html" %} 

</body>


</html>