{% load static %}
<header class="page_header header_white toggler_xs_right tall_header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 display_table">
				<div class="header_left_logo display_table_cell"> <a href="{% url 'landingpage' %}" class="logo top_logo">
            <img src="{% static 'images/new_logo.png' %}" alt="">
        </a> </div>
				<div class="header_mainmenu display_table_cell text-center">
					<!-- main nav start -->
					<nav class="mainmenu_wrapper">
						<ul class="mainmenu nav sf-menu">
							{% if request.path == '/' %}
								<li class="active"> <a href="#canvas">Home</a></li>
								<li> <a href="#about">About</a> </li>
								<li> <a href="#featured-video">Featured</a> </li>
								<li> <a href="#latest-album">Latest</a> </li>
								<li> <a href="#gallery">Photos</a> </li>
								<li> <a href="#gigs">Gigs</a> </li>
								<li> <a href="#news">News</a> </li>
							{% else %}
								<li class="{% if request.path == '/' %}active{%else%}{%endif%}"> <a href="{% url 'landingpage' %}">Home</a></li>
								<li class="{% if request.path == '/about/' %}active{%else%}{%endif%}" ><a href="{% url 'about_us' %}">About</a> </li>
								<li> <a href="/test#featured-video">Featured</a> </li>
								<li> <a href="#latest-album">Latest</a> </li>
								<li class="{% if request.path == '/photos/' %}active{%else%}{%endif%}"> <a href="{% url 'photos' %}">Photos</a> </li>
								<li class="{% if request.path == '/all_shows/' %}active{%else%}{%endif%}"> <a href="{% url 'all_shows' %}">Gigs</a> </li>
								<li class="{% if request.path == '/all_articles/' %}active{%else%}{%endif%}"> <a href="{% url 'all_articles' %}">News</a> </li>
							{% endif %}
							
						</ul>
					</nav>
					<!-- eof main nav -->
					<!-- header toggler --><span class="toggle_menu"><span></span></span>
				</div>
				
			</div>
		</div>
	</div>
</header>