{% load static%}
<script src="{% static 'js/compressed.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
<script src="{% static 'js/mediaelement-migrate.min.js' %}"></script>
<script type='text/javascript'>
	/* <![CDATA[ */
	var _cueSettings = {
		"l10n":
		{
			"nextTrack": "Next Track",
			"previousTrack": "Previous Track",
			"togglePlayer": "Toggle Player",
			"togglePlaylist": "Toggle Playlist"
		}
	};
	/* ]]> */
</script>
<script src="{% static 'js/cue.min.js' %}"></script>
