{% load static %}
<section class="intro_section page_mainslider ds">
	<div class="flexslider" data-dots="true" data-nav="te">
		<ul class="slides">
			<li> <img src="{% static 'images/slide01.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<h2> <span class="small">Music is your</span> Time Machine </h2>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p> We hold our notes longer, better, and higher. We put the mental in instrumental and the cool in musicool. </p>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="topmargin_25 inline-content vertical-margin"> <a href="about.html" class="theme_button inverse min_width_button">
									About me
								</a> <a href="albums.html" class="theme_button color1 min_width_button">
									My albums
								</a> </p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			<li> <img src="{% static 'images/slide01.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<h2> <span class="small">Let the</span> Music speak! </h2>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p> We hold our notes longer, better, and higher. We put the mental in instrumental and the cool in musicool. </p>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="topmargin_25 inline-content vertical-margin"> <a href="about.html" class="theme_button inverse min_width_button">
									About me
								</a> <a href="albums.html" class="theme_button color1 min_width_button">
									My albums
								</a> </p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			<li> <img src="{% static 'images/slide01.jpg' %}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<h2> <span class="small">Like music</span> to my ears. </h2>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p> We hold our notes longer, better, and higher. We put the mental in instrumental and the cool in musicool. </p>
									</div>
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="topmargin_25 inline-content vertical-margin"> <a href="about.html" class="theme_button inverse min_width_button">
									About me
								</a> <a href="albums.html" class="theme_button color1 min_width_button">
									My albums
								</a> </p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
		</ul>
	</div>
	<!-- eof flexslider -->
</section>