<section class="page_topline ds table_section table_section_md">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-6 text-center text-md-left">
				<div class="inline-content medium">
					<p> <i class="fa fa-phone highlight rightpadding_5" aria-hidden="true"></i> 1-888-123-4567 </p>
					<p class="greylinks"> <i class="fa fa-envelope highlight rightpadding_5" aria-hidden="true"></i> <a href="mailto:dj_bishop@example.com">dj_bishop@example.com</a> </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 text-center text-md-center"> <a class="social-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon socicon-twitter" href="#" title="Twitter"></a> <a class="social-icon socicon-google" href="#" title="Twitter"></a> <a class="social-icon socicon-linkedin"
				    href="#" title="Twitter"></a> <a class="social-icon socicon-youtube" href="#" title="Youtube"></a> </div>
			<div class="col-md-4 col-sm-12 text-center text-md-right">
				<div class="widget widget_search">
					<form method="get" class="searchform" action="http://webdesign-finder.com/html/dj/">
						<div class="form-group margin_0"> <label class="sr-only" for="widget-search-topline">Search for:</label> <input id="widget-search-topline" type="text" value="" name="search" class="form-control" placeholder="Search Keyword"> </div> <button type="submit" class="theme_button no_bg_button color1">Search</button>									</form>
				</div>
			</div>
		</div>
	</div>
</section>